// Container
$containerWidth: 1110px;
$containerPaddings: 15px;

// Media sizes
$pcScreen: 1920px;
$laptopScreen: 1280px;
$tabletScreen: 1024px;
$phoneScreen: 768px;

// Colors
$primaryColor: #000;

// buger Colors
$burgerColor: #000;
$navColor:#657de6;